@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
.text {
    position:fixed;
    font-family:'kufi';
    font-size:35px;
    color:#f45900;
    text-align: center;
    

}
.BackG_V {
    height: 100vh;
    width:100vw;
    position: fixed;
    object-fit: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
